# {{relPath .Config.Dir}}

{{ if .Config.Terraform.RequiredVersion }}
Terrform required version {{ .Config.Terraform.RequiredVersion }}
{{ end }}

{{ if .Config.ProviderConfigs -}}
## Providers

| Name | Alias | Version |
|------|-------|---------|
{{ range .Config.ProviderConfigs -}}
| [{{ .Name }}]({{tfDocUrl .}}) | {{ .Alias }} | {{ .Version }} |
{{ end -}}
{{ end -}}

{{ if .Config.Modules }}
## Modules

| Name | Version | Source |
|------|-------------|--------|
{{ range .Config.Modules -}}
| {{ .Name }} | {{ .Version }} | {{ .Source }} |
{{ end -}}
{{ end -}}

{{ if .Config.Resources }}
## Resources

| Name | Type |
|------|------|
{{ range .Config.Resources -}}
| {{ .Name }} | [{{ .Type }}]({{tfDocUrl .}}) |
{{ end -}}
{{ end -}}

{{ if .Config.Variables }}
## Inputs

| Name | Description | Type | Default |{{ if $.PrintRequired }} Required |{{ end }}
|------|-------------|:----:|:-----:|{{ if $.PrintRequired }}:-----:|{{ end }}
{{ range .Config.Variables -}}
| {{ .Name }} | {{ normalize .Description }} | {{ .Type.Printable }} | {{ normalize .Default }} |{{ if $.PrintRequired }} {{ humanize .Required }} |{{ end }}
{{ end -}}
{{ end -}}

{{- if .Config.Outputs }}
## Outputs

| Name | Description |
|------|-------------|
{{ range .Config.Outputs -}}
| {{ .Name }} | {{ normalize .Description }} |
{{ end -}}
{{ end -}}